version: '3.8'

services:
  app:
    build:
      context: .
      dockerfile: dockerfiles/Dockerfile
    image: global-solution-api:latest
    container_name: global_solution_api
    ports:
      - "8080:8080"
    depends_on:
      - postgres
      - rabbitmq
      - redis
    env_file:
      - .env
    environment:
      SPRING_RABBITMQ_HOST: rabbitmq
      SPRING_DATA_REDIS_HOST: redis
      SPRING_DATA_REDIS_PORT: 6379
      JWT_SECRET: ${JWT_SECRET}
      POSTGRES_HOST: postgres
      POSTGRES_DB: globalsolutiondb
      DB_USERNAME: gsuser
      DB_PASSWORD: ${DB_PASSWORD}
      API_KEY: ${API_KEY}
    restart: always

  postgres:
    image: postgres:15-alpine
    container_name: postgres_db
    ports:
      - "5432:5432"
    environment:
      POSTGRES_DB: globalsolutiondb
      POSTGRES_USER: gsuser
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    restart: always
    volumes:
      - postgres_data:/var/lib/postgresql/data

  rabbitmq:
    image: rabbitmq:3-management
    container_name: rabbitmq_broker
    ports:
      - "5672:5672"
      - "15672:15672"
    environment:
      RABBITMQ_DEFAULT_USER: guest
      RABBITMQ_DEFAULT_PASS: guest
    restart: always
    healthcheck:
      test: ["CMD", "rabbitmq-diagnostics", "check_port_listener"]
      interval: 5s
      timeout: 2s
      retries: 5
    volumes:
      - rabbitmq_data:/var/lib/rabbitmq

  redis:
    image: redis:6.2-alpine
    container_name: redis_cache
    ports:
      - "6379:6379"
    restart: always
    volumes:
      - redis_data:/data

volumes:
  postgres_data:
  rabbitmq_data:
  redis_data: